.privacy-section{
    padding:50px 15px 100px;
    background-color: #fff;
    color:#000;
    ul{
        li{
            padding-bottom: 15px!important;
        }
    }
    h3{
        padding-bottom:10px
    }
}

