.page-not-found{
    .row{
        height:100vh;
        text-align: center;
        .col-5{
            text-align: center;
            h2{
                font-size: 10rem;
            }
            h3{
                font-size: 3rem;
            }

        }
    }
}